<div>
  <h2>Ночные действия</h2>
  <p>Ход игрока: РОЛЬ</p>
  <ul>
    <li class="list">имя игрока</li>
    <li class="list">имя игрока</li>
    <li class="list">имя игрока</li>
    <li class="list">имя игрока</li>
    <li class="list">имя игрока</li>
    <li class="list">имя игрока</li>
    <li class="list">имя игрока</li>
    <li class="list">имя игрока</li>
    <li class="list">имя игрока</li>
    <li class="list">Ни в кого (в воздух)</li>
  </ul>

  <p>Роль убита, но должна сделать ходи</p>
</div>
