<div>
  <h2>Новая Игра</h2>
  <p>Введите кол-во игроков:</p>
  <input type="text" />

  <p>Или выберете нужные ролли</p>
  <ul>
    <li class="list">Блокиратор</li>
    <li class="list">Любовница</li>
    <li class="list">Комисар</li>
    <li class="list">Тусовщик</li>
    <li class="list">Доктор</li>
  </ul>

  <ul>
    <li class="list">Дон Мафии</li>
    <li class="list">Зам. Дона Мафии</li>
    <li class="list">Мафия</li>
    <li class="list">Маньяк</li>
  </ul>

  <ul>
    <li class="list">Мирный 1</li>
    <li class="list">Мирный 2</li>
    <li class="list">Мирный 3</li>
    <li class="list">Мирный 4</li>
    <li class="list">Мирный 5</li>
  </ul>

  <p>Участвует игроков: <span>ЧИСЛО</span></p>

  <div><button>Начать новую игру</button> <button>Отмена</button></div>
</div>
