<div class="inactive-blok">
  <h2>Участники</h2>
  <ul>
    <li class="list">Имя - Блокиратор</li>
    <li class="list">Имя - Любовница</li>
    <li class="list">Имя - Комисар</li>
    <li class="list">Имя - Тусовщик</li>
    <li class="list">Имя - Доктор</li>
  </ul>

  <ul>
    <li class="list">Имя - Дон Мафии</li>
    <li class="list">Имя - Зам. Дона Мафии</li>
    <li class="list">Имя - Мафия</li>
    <li class="list">Имя - Маньяк</li>
  </ul>

  <ul>
    <li class="list">Имя - Мирный 1</li>
    <li class="list">Имя - Мирный 2</li>
    <li class="list">Имя - Мирный 3</li>
    <li class="list">Имя - Мирный 4</li>
    <li class="list">Имя - Мирный 5</li>
  </ul>
</div>
