<div>
  <h2>Правила игры</h2>
  <ol>
    <li>Играем в закрытую. Не показываем карточки, даже после смерти.</li>
    <li>Бережно относимся к карточкам.</li>
    <li>
      Если Мафия и Маньяк стреляют друг в друга, то выстрел маньяка приоритетнее и убивает мафию, а
      мафия его нет.
    </li>
    <li>
      Блокираторт блокирует любое ночное действие, не может блокировать игрока две ночь подрят
      <i>(только через ночь)</i>.
    </li>
    <li>
      Доктор может лечить любого игрока, но не может лечить две ночи подрят
      <i>(только через ночь)</i>, <b>себя может лечить только один раз за игру</b>.
    </li>
    <li>Любовница дает имунитет один раз за игру любому игроку.</li>
    <li>...</li>
  </ol>
</div>
