.info-btn {
  display: flex;

  justify-content: space-around;
  align-items: center;
}

.info-btn__list {
  padding: 5px;

  border-radius: 10px;

  cursor: pointer;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding: 5px 10px;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 15px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 20px rgb(250 119 12 / 90%);
  }
}

.info-btn__list--activ {
  background-color: rgb(250 119 12 / 90%);
}
